*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label, #btn_registrar_compra{
    margin-left: 50px;
}

/* Configuração teste - será usado flexbox */
.checkbox_itens{
    margin-left: 30px;
}

fieldset{
    padding: 9px;
}

#kg_produto, #preco_produto{
    width: 50px;
}

div{
    display: inline;
}

#form_spam{
    background-color: rgb(207, 203, 203);
}

#btn_registrar_compra{
    cursor: pointer;
}

#btn_registrar_compra:hover{
    background-color: rgb(3, 109, 109);
    color: white;
}

#tabela{
    /* display: none; */
    width: 98vw;
    border: solid 1px black;
    text-align: center;
}